@model ShopProject.Models.Watch

@{
    ViewBag.Title = "EditWatch";
}

<h2>EditWatch</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => Model.Name)</td>
            <td>@Html.EditorFor(model => Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => Model.Cost)</td>
            <td>@Html.EditorFor(model => Model.Cost)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => Model.Description)</td>
            <td>@Html.EditorFor(model => Model.Description)</td>
        </tr>
    </table>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edytuj" class="btn btn-default" />
            </div>
        </div>
    </div>
}