@using ShopProject.ViewModel

@model WatchListVM

@{
    ViewBag.Title = "WatchList";
}



<div class="creator">
    <input type="button" class="btn btn-info" value="Dodaj Zegarek" onclick="location.href='@Url.Action("AddWatch", "Watch")'" />
</div>
<div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => Model.WatchVMList[0].watch.WatchId)</th>
            <th>@Html.DisplayNameFor(model => Model.WatchVMList[0].watch.Name)</th>
            <th>@Html.DisplayNameFor(model => Model.WatchVMList[0].watch.Cost)</th>
            <th>@Html.DisplayNameFor(model => Model.WatchVMList[0].watch.Description)</th>
            <th></th>
            <th></th>
        </tr>



        @foreach (WatchVM item in Model.WatchVMList)
        {
            <tr>
                <td>@item.watch.WatchId</td>
                <td>@item.watch.Name</td>
                <td>@item.watch.Cost</td>
                <td>@item.watch.Description</td>
                <td>@Html.ActionLink("Edytuj", "EditWatch", item.watch)</td>
                <td>@Html.ActionLink("Usuń", "DeleteWatch", item.watch)</td>
            </tr>
        }

    </table>

    <div class="miniContainer">
        <div class="selectProductList" id="first">
            <input type="button" class="btn btn-info" value="Paski" onclick="location.href='@Url.Action("BeltList", "Belt")'" />
        </div>
        <div class="selectProductList">
            <input type="button" class="btn btn-info" value="Czapki" onclick="location.href='@Url.Action("CapList", "Cap")'" />
        </div>
        <div class="selectProductList">
            <input type="button" class="btn btn-info" value="Zegarki" onclick="location.href='@Url.Action("WatchList", "Watch")'" />
        </div>
    </div>
</div>