@model ShopProject.ViewModel.AddBeltVM

@{
    ViewBag.Title = "AddBelt";
}

<h2>AddBelt</h2>


@using (Html.BeginForm("AddBelt", "Belt", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<table>
    <tr>
        <td>@Html.DisplayNameFor(model => Model.belt.Name)</td>
        <td>@Html.EditorFor(model => Model.belt.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => Model.belt.Cost)</td>
        <td>@Html.EditorFor(model => Model.belt.Cost)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => Model.belt.Description)</td>
        <td>@Html.EditorFor(model => Model.belt.Description)</td>
    </tr>

    <tr>
        <td>
            <input type="file" name="imageFile" size="23" accept="gif|jpg|png" />
            @Html.ValidationMessageFor(model => model.belt.ProductImage)
        </td>
    </tr>
</table>


    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
