@using ShopProject.ViewModel

@model CapListVM

@{
    ViewBag.Title = "CapList";
}




<div class="creator">
    <input type="button" class="btn btn-info" value="Dodaj Czapkę" onclick="location.href='@Url.Action("AddCap", "Cap")'" />
</div>
<div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => Model.CapVMList[0].cap.CapId)</th>
            <th>@Html.DisplayNameFor(model => Model.CapVMList[0].cap.Name)</th>
            <th>@Html.DisplayNameFor(model => Model.CapVMList[0].cap.Cost)</th>
            <th>@Html.DisplayNameFor(model => Model.CapVMList[0].cap.Description)</th>
            <th></th>
            <th></th>
        </tr>



        @foreach (CapVM item in Model.CapVMList)
        {
            <tr>
                <td>@item.cap.CapId</td>
                <td>@item.cap.Name</td>
                <td>@item.cap.Cost</td>
                <td>@item.cap.Description</td>
                <td>@Html.ActionLink("Edytuj", "EditCap", item.cap)</td>
                <td>@Html.ActionLink("Usuń", "DeleteCap", item.cap)</td>
            </tr>
        }

    </table>

    <div class="miniContainer">
        <div class="selectProductList" id="first">
            <input type="button" class="btn btn-info" value="Paski" onclick="location.href='@Url.Action("BeltList", "Belt")'" />
        </div>
        <div class="selectProductList">
            <input type="button" class="btn btn-info" value="Czapki" onclick="location.href='@Url.Action("CapList", "Cap")'" />
        </div>
        <div class="selectProductList">
            <input type="button" class="btn btn-info" value="Zegarki" onclick="location.href='@Url.Action("WatchList", "Watch")'" />
        </div>
    </div>
</div>