@using ShopProject.ViewModel

@model CapListVM

@{
    ViewBag.Title = "CapList";
}

<h2>CapList</h2>

<div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => Model.CapVMList[0].cap.CapId)</th>
            <th>@Html.DisplayNameFor(model => Model.CapVMList[0].cap.Name)</th>
            <th>@Html.DisplayNameFor(model => Model.CapVMList[0].cap.Cost)</th>
            <th>@Html.DisplayNameFor(model => Model.CapVMList[0].cap.Description)</th>
            <th></th>
            <th></th>
        </tr>



        @foreach (CapVM item in Model.CapVMList)
        {
            <tr>
                <td>@item.cap.CapId</td>
                <td>@item.cap.Name</td>
                <td>@item.cap.Cost</td>
                <td>@item.cap.Description</td>
                <td>@Html.ActionLink("Edytuj", "EditCap", item.cap)</td>
                <td>@Html.ActionLink("Usuń", "DeleteCap", item.cap)</td>
            </tr>
        }

    </table>
</div>